<div class="nav d-flex flex-column justify-content-between py-32">
    <div class="nav-top">
        <div class="mb-32">
            <a href="#" class="px-32">
                <img src="../assets/images/logo-ANSWER.svg" alt="Answer Logo">
            </a>
        </div>

        <ul class="list-unstyled">
            <li class="mb-4 px-32">
                <a href="#" class="navlink fw-bold">
                    <span class="material-icons me-3 align-middle">analytics</span>
                    Dashboard
                </a>
            </li>
            <li class="mb-4 px-32">
                <a href="#" class="navlink fw-bold">
                    <span class="material-icons me-3 align-middle">question_answer</span>
                    Question
                </a>
            </li>
            <li class="mb-4 px-32">
                <a href="#" class="navlink fw-bold">
                    <span class="material-icons me-3 align-middle">assignment</span>
                    Assignment
                </a>
            </li>
            <li class="mb-4 px-32">
                <a href="#" class="navlink fw-bold">
                    <span class="material-icons me-3 align-middle">video_library</span>
                    Course
                </a>
            </li>
            <li class="mb-4 px-32">
                <a href="#" class="navlink fw-bold active text-success">
                    <span class="material-icons me-3 align-middle">supervisor_account</span>
                    Admin
                </a>
            </li>
            <li class="mb-4 px-32">
                <a href="#" class="navlink fw-bold">
                    <span class="material-icons me-3 align-middle">settings</span>
                    Settings
                </a>
            </li>
        </ul>
    </div>

    <div class="nav-bottom d-flex px-32">
        <div class="user-avator me-3"></div>
        <div class="user-info">
            <div class="fs-6 fw-bold">Andy Chen</div>
            <p class="text-secondary fs-14">andy0401@mail.com</p>
        </div>
    </div>
</div>