<div class="modal fade" tabindex="-1" id="show-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body px-32 py-32 d-flex">
            
            <img class="show-img" src="../assets/images/emir.jpeg" alt="">
            
            <div class="show-content ms-4">
                <div class="d-flex justify-content-between">
                    <p class="mb-2">#1</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <p class="mb-0">Admin</p>
                <h2 class="fs-4 mb-2">Emir Wicks</h2>
                <p class="fs-14 text-secondary mb-3">emir.wicks@mail.com</p>

                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header d-flex justify-content-between">    
                            <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                <div class="show-btn fs-14 py-1 px-2" disabled>Verified</div>
                            </div>
                        </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse mt-32" data-bs-parent="#accordionFlushExample">
                        <div class="d-flex justify-content-between">
                            <div class="btn btn-outline-danger py-2 px-32">Deactivate</div>
                            <div class="btn btn-primary py-2 px-32">Edit</div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        
      </div>
    </div>
</div>